video {
    width:50%; 
    min-width: 400px;
    height: 500px;
    display:block; 
    margin:0 auto;
}

#instructions{
    text-align: center;
}

.images{
    width: 50%;
    height: 50%;
    min-width: 400px;
}

footer{
    background-color: darkslategrey;
    text-align: center;
    color: floralwhite;

}